/* --- CSS RESET --- */
 {
    padding: 0;
    margin: 0;
}

:focus {outline: 0;}


body{
background:#333 url(../pix/bg.png) repeat-x;
font-size: 14px;
font-family: Dejavu Sans, Sans-serif;
color: #FFA500;
}


#header{
width: auto;
display: block;
float: left;
}

#name{
text-shadow: #303030 1px -2px 0.4px;
color: #E69400; 
font-size: 58px;
font-weight: 1000;
margin-left: 20px;
margin-top: 30px;
margin-bottom: 8px;
max-width: 400px;
}

/*
#name a{
color: #E69400;
text-decoration: none;
text-shadow: #303030 1px -2px 0.4px; 
padding-top: auto;
font-size: 50px;
padding-bottom: auto;
}
*/

#slogan{
font-size: 23px;
margin-left: 20px;
color: #303030;
text-shadow: gray 1px -2px 0.4px;
}

#navi{
float: right;
margin-right: 60px;
}


.nav{
width: 280px;
height: 80px;
padding: 0;
list-style-type: none;
}

.nav li{
width: auto;
font-size: 22px;
float: left;
margin-left: 23px;
margin-top: 8px;
padding: 10px 9px;
border-bottom: 1px solid #555555;
border-right: 1.5px solid #555555;
border-radius: 15px;
background: #424242 url('../pix/strisch.png') repeat-x;
}

.nav li a{
text-decoration: none;
display: block;
color: black;
text-shadow: #5E5E5E 1px -2px 0.4px;
}
