/* --- CSS RESET --- */
 {
    padding: 0;
    margin: 0;
}

:focus {outline: 0;}
/* home, documentation, demo, contact, screenshots */

body{
background:#333 url(../pix/strisch5.png) repeat-x;
font-size: 20px;
font-family: Courier New, monospace;
color: #A0A0A0;
}


#numbers {
/*   background: url(../pix/numbers.png) repeat-x; */
  color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 200px;

  z-index: -5;
 /* These three lines are for transparency in all browsers. */
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
 filter: alpha(opacity=20);
 opacity:0.2;

}

.numbers {
  overflow: hidden;
}

#numbers0{
color: #9C9C9C;
}

#numbers1{
color: 	#8C8C8C;
}

#numbers2{
color: #7D7D7D;
}

#numbers3{
color: #6D6D6D;
}

#numbers4{
color: #5E5E5E;
}

#numbers5{
color: #4E4E4E;
}

#numbers6{
color: #3E3E3E;
}

#numbers7{
color: 	#2F2F2F;
}

#header{
width: auto;
display: block;
float: left;

/*background: url(../pix/numbers.png) repeat-x;  */
}


#name{
text-shadow: #303030 1px -2px 0.7px;
color: /*#E69400*/#375AD8; 
font-size: 58px;
font-weight: bold;
margin-left: 20px;
margin-top: 30px;
margin-bottom: 8px;
max-width: 400px;
letter-spacing: -0.3px;
}

/*
#name a{
color: #E69400;
text-decoration: none;
text-shadow: #303030 1px -2px 0.4px; 
padding-top: auto;
font-size: 50px;
padding-bottom: auto;
}
*/

#slogan{
font-size: 25px;
margin-left: 27px;
color: /*#303030*/#40589F;
font-weight: bold;
}

#navi{
float: right;
margin-top: 20px;
display: block;
min-width: 700px;
}


.nav{
width: auto;
height: auto;
padding: 0;
list-style-type: none;
}

.button{
width: auto;
font-size: 17px;
float: left;
margin-left: 23px;
padding: 3px 10px 2px 10px;
border-bottom: 1px solid #3F3F3F;
border-right: 2px solid #3F3F3F;
border-left: 1px solid #3F3F3F;
border-top: 1px solid #3F3F3F;
border-radius: 10px;
background: url('../pix/button.png') repeat-x;
}

.nav li a{
text-decoration: none;
display: block;
color: #191919;
font-family: helvetica,sans-serif;
}

#contentWrapper {
	clear: both;
	padding-top: 25px;
	line-height: 150%;
	padding-bottom: 10px;
	letter-spacing: 0.3px;
	text-shadow: #3E3E3E 1px -2px 0.5px; 
}


#contentWrapper .buzzword {
	color: #FFA500;
	font-weight: bold;
	font-size: 15px;
}

/*
#footer{
height: 20px;
width: 100%;
position: absolute;
bottom: 0;
}
*/
