/* --- CSS RESET --- */
* {
    padding: 0;
    margin: 0;
}

:focus {outline: 0;}



body{
background:#333 url(../pix/bg.png) repeat-x;
font-size: 14px;
font-family: Dejavu Sans, Sans-serif;
color: #FFA500;

}


#name{
color: #303030;
font-size: 45px;
font-weight: 1000;
margin-left: 80px;
margin-top: 170px;
margin-bottom: 30px;
}

/*
#name a{
color: #E69400;
text-decoration: none;
text-shadow: #303030 1px -2px 0.4px; 
padding-top: auto;
padding-bottom: auto;
}
*/


#slogan{
color: #E69400;
font-size: 28px;
text-shadow: #303030 1px -2px 0.4px; 
margin-left: 80px;
}


#nav a:link{
display: inline;
float: left;
font-size: 16px;
text-decoration: none;
border-radius: 5px;
text-shadow: #303030 1px -2px 0.4px; 
background-color: #30303;
font-family: courier new, monospace;
color: #FFA500;
margin-left: 10px;
}
