/*-------@OP--------*/

.column{
float: left;
display: inline;
width: 305px;
height: 400px;
margin-right: 15px;
padding-right: 10px;
font-size: 12px;
}

.column p{
padding-left: 30px;
padding-right: 5px;
}

.verschwinde{
list-style-type: none;
}

/*-------SORRY--------*/

.sorry{
font-size: 17px;
height: 50px;
margin-left: 170px;
margin-top: 150px;
color: white;
}

/*--------CONTACT--------*/

.contact{
font-size: 17px;
margin-left: 300px;
margin-top: 150px;
color: white;
}

/*-------AGILITY---------*/


.img{
display: none;
}

.column_agility{
float: left;
display: inline;
width: 305px;
height: 400px;
margin-right: 15px;
padding-right: 10px;
}

.column_agility h1{
font-size: 20px;
}

.column_agility p{
font-size: 18px;
}

.key{
font-size: 23px;
color: #FFA500;;
}

