/*-------@OP--------*/

#contentOP{
margin-left: 90px;
margin-top: 2px;
margin-right: 80px;
}

#contentOP h2{
font-size: 19.5px;
color: #FFA500;
line-height: 100%;
padding-left: 30px;
padding-right: 145px;
padding-bottom: 2px;
}

#contentOP h3{
margin-top: 35px;
color: #FFA500;
font-weight: bold;
font-size: 15px;
padding-left: 30px;
padding-right: 5px;
}

.column{
float: left;
display: inline;
width: 335px;
height: 380px;
margin-right: 7px;
padding-right: 15px;
font-size: 13px;
border-right: 1px solid #909090;
}

.column3{
border-right: none;
float: left;
display: inline;
width: 335px;
height: 380px;
margin-right: 7px;
padding-right: 15px;
font-size: 13px;
}

.column p{
padding-left: 15px;
padding-right: 15px;
}

.column3 p{
padding-left: 30px;
padding-right: 10px;
}

/*-------SORRY--------*/

.sorry{
font-size: 17px;
height: 50px;
margin-left: 170px;
margin-top: 150px;
color: white;
}

/*--------CONTACT--------*/

.contact{
font-size: 17px;
margin-left: 400px;
margin-top: 150px;
color: white;
}

.contact a{
text-decoration: none;
display: block;
color: #191919;
font-weight: bold;

width: 35px;
height: 37px;
font-size: 16px;
margin-left: 80px;
margin-top: 30px;
padding-left: 11px;
padding-top: 7px;
border: 3px solid #3F3F3F;
border-radius: 30px;
background-color: #375AD8;
text-shadow: none;
}

.contact a:hover{
border-right: 1px solid #3F3F3F;
border-top: 1px solid #3F3F3F;
border-bottom: 1px solid #3F3F3F;
border-left: 2px solid #3F3F3F;
}


/*-------AGILITY---------*/

#contentAGL{
margin-top: 10px;
}

.img{
float: left;
display: inline;
width: 435px;
height: 410px;
margin-right: 55px;
margin-left: 25px;
padding-right: 5px;
padding-top: 20px;
}


.column_agility{
float: left;
display: inline;
width: 305px;
height: 400px;
padding-right: 25px;
}

.column_agility h1{
font-size: 20px;
font-weight: bold;
color: #FFA500;
margin-bottom: 40px;
}

.column_agility p{
font-size: 14px;
}

.column_agility .key{
font-size: 16px;
padding-top: 100px;
color: #CACACA;
text-shadow: #303030 1px -2px 0.2px;
}

.column_agility a{
font-size: 17px;
font-weight: bold;
color: #FFA500;
text-decoration: none;
text-shadow: none;
}

/*--------DELIVERY--------*/

.column_delivery{
float: left;
display: inline;
width: 480px;
height: 400px;
padding: 5px;
font-size: 14px;
margin-left: 20px;
margin-right: 40px;
}

.column_delivery h1{
font-size: 17px;
color: #CACACA;
}

.column_delivery h2, .column_delivery h3, 
.column_delivery h4{
font-size: 16px;
color: #FFA500;
text-shadow: none;
}

.column_delivery h4{
margin-left: 498px;
font-size: 21px;
margin-top: 0;
}


/*--------Operations-------*/
#contentOPs{
margin-left: 90px;
margin-top: 25px;
margin-right: 80px;
}

#contentOPs h1{
font-size: 20px;
color: #FFA500;
margin-top: 50px;
margin-left: 38px;
margin-bottom: 40px;
}

.column_operations{
float: left;
display: inline;
width: 300px;
height: 250px;
margin-right: 50px;
padding-right: 5px;
font-size: 15px;
}

.ease{
display: block;
margin-left: 694px;
height: 30px;
margin-top: 250px;
}

.automate{
font-size: 20px;
color: #FFA500;
width: 400px;
}

.bright{
color: white;
font-size: 16px;
}
